/*COLORES*/
* {
  box-sizing: border-box; }

body {
  background-color: #FAFAFA; }
  body.modal-open {
    overflow: hidden; }
    body.modal-open .modal {
      display: block; }

.modal {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  text-align: center;
  display: none; }
  .modal .box {
    display: inline-block;
    margin-top: 60px;
    background-color: #DADADA;
    position: relative;
    padding: 50px 100px; }
    .modal .box #close-modal {
      position: absolute;
      right: 5px;
      top: 5px;
      font-size: 20px;
      cursor: pointer; }
    .modal .box form {
      text-align: left; }
      .modal .box form label {
        margin-top: 15px;
        display: block;
        font-size: 15px;
        color: #444; }
      .modal .box form input[type="text"] {
        width: 100%;
        height: 30px;
        margin: 5px 0;
        font-size: 15px;
        border: 2px solid #CACACA;
        border-radius: 5px;
        padding-left: 5px; }
      .modal .box form button#save-values {
        border: 0px;
        color: #fff;
        background-color: #973689;
        padding: 10px 20px;
        border-radius: 5px;
        display: block;
        margin: 10px auto 0px;
        cursor: pointer; }
      .modal .box form #random-values {
        display: inline-block;
        margin-top: 10px;
        text-transform: uppercase;
        color: #179D9C;
        font-size: 12px;
        cursor: pointer;
        font-weight: bold; }

header.mean {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #444;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  header.mean button {
    padding: 5px 10px;
    margin: 0px 5px;
    border-radius: 5px;
    border: 0px;
    background-color: #179D9C;
    color: #fff;
    cursor: pointer; }

.cifrado-a51 {
  display: block;
  width: 1020px;
  margin: 100px auto 0px;
  padding-left: 100px;
  height: 600px; }

.vector {
  position: relative;
  height: 110px; }
  .vector#vector-LFSR-1 .values {
    width: 760px; }
  .vector#vector-LFSR-1 .elements .element:nth-child(1) .arrow-out {
    height: 300px;
    width: 75px; }
  .vector#vector-LFSR-1 .elements .element:nth-child(2) .arrow-operation {
    width: 200px;
    height: 45px; }
  .vector#vector-LFSR-1 .elements .element:nth-child(3) .arrow-operation {
    width: 160px;
    height: 40px; }
  .vector#vector-LFSR-1 .elements .element:nth-child(6) .arrow-operation {
    width: 40px;
    height: 35px; }
  .vector#vector-LFSR-1 .elements .element:nth-child(19) .arrow-in {
    width: 440px; }
  .vector#vector-LFSR-2 .values {
    width: 880px; }
  .vector#vector-LFSR-2 .elements .element:nth-child(1) .arrow-out {
    height: 190px;
    width: 70px; }
  .vector#vector-LFSR-2 .elements .element:nth-child(2) .arrow-operation {
    width: 200px;
    height: 35px; }
  .vector#vector-LFSR-2 .elements .element:nth-child(22) .arrow-in {
    width: 560px; }
  .vector#vector-LFSR-3 .values {
    width: 920px; }
  .vector#vector-LFSR-3 .elements .element:nth-child(1) .arrow-out {
    height: 80px;
    width: 65px; }
  .vector#vector-LFSR-3 .elements .element:nth-child(1) .arrow-operation {
    width: 640px; }
  .vector#vector-LFSR-3 .elements .element:nth-child(2) .arrow-operation {
    width: 600px;
    height: 45px; }
  .vector#vector-LFSR-3 .elements .element:nth-child(3) .arrow-operation {
    width: 560px;
    height: 40px; }
  .vector#vector-LFSR-3 .elements .element:nth-child(16) .arrow-operation {
    width: 40px;
    height: 35px; }
  .vector#vector-LFSR-3 .elements .element:nth-child(23) .arrow-in {
    width: 200px; }

.element {
  width: 40px;
  height: 40px; }

.circuit .element {
  position: absolute; }

.elements {
  position: relative;
  display: flex;
  height: 40px; }
  .elements .element {
    position: relative;
    background-color: #4A4A4A;
    border: 1px solid #179D9C; }
    .elements .element.registry {
      background-color: #179D9C; }
    .elements .element .index {
      position: absolute;
      right: 2px;
      bottom: 0px;
      font-size: 10px;
      color: #fff; }

.values {
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  z-index: 10;
  display: flex; }

.value {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #fff;
  transition: color .5s linear; }

#result {
  width: 900px;
  border: 1px solid #DADADA;
  top: 50%;
  position: relative;
  left: 130%;
  overflow: auto;
  padding: 10px; }
  #result h3 {
    padding-left: 20px;
    margin: 5px 0px;
    font-size: 12px; }
  #result .element {
    position: relative;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px; }

.arrow {
  position: absolute;
  border-color: black;
  border-style: solid; }
  .arrow.arrow-b-r {
    border-width: 0px 0px 1px 1px;
    border-bottom-left-radius: 5px; }
  .arrow.arrow-r-t {
    border-width: 0px 1px 1px 0;
    border-bottom-right-radius: 5px; }
  .arrow .xor {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 4px solid #179D9C;
    border-radius: 50%;
    transition: transform .5s ease-in-out; }
    .arrow .xor:hover {
      transform: rotate(180deg); }
    .arrow .xor::before, .arrow .xor::after {
      content: '';
      background-color: #179D9C;
      display: block;
      position: absolute; }
    .arrow .xor::before {
      height: 4px;
      width: 100%;
      top: 14px; }
    .arrow .xor::after {
      height: 100%;
      width: 4px;
      left: 14px; }
  .arrow::after {
    content: '';
    position: absolute;
    border-color: transparent;
    border-width: 7px;
    border-style: solid; }
  .arrow.arrow-out {
    right: 100%;
    top: 50%;
    border-width: 1px 0 0 1px;
    border-top-left-radius: 5px; }
    .arrow.arrow-out .xor {
      bottom: -40px;
      left: -20px; }
  .arrow.arrow-in {
    height: 43px;
    top: 100%;
    right: 50%; }
    .arrow.arrow-in:after {
      border-bottom-color: black;
      right: 0px;
      top: 0px;
      transform: translate(50%, -50%); }
    .arrow.arrow-in .value-in {
      height: 30px;
      width: 30px;
      background-color: #973689;
      position: absolute;
      bottom: 0px;
      transform: translateY(50%);
      left: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 20px; }
  .arrow.arrow-operation {
    top: 100%;
    left: 50%;
    width: 240px;
    height: 50px; }
    .arrow.arrow-operation .xor {
      bottom: -13px;
      left: 100%; }
  .arrow.arrow-result {
    bottom: -140px;
    left: -1px;
    width: 50px;
    height: 100px;
    z-index: -1; }
    .arrow.arrow-result:after {
      border-left-color: black;
      left: 100%;
      top: 100%;
      transform: translate(-50%, -50%); }
