doctype html
html
    head
        meta(charset="UTF-8")
        title Cifrado A5/1
        link(rel="stylesheet" href="css/styles.css")
    body
        .container
            .vector.vector-1
                .elemento
                    .arrow.arrow-out
                    .arrow.arrow-operation
                        .xor
                .elemento
                    .arrow.arrow-operation
                .elemento
                    .arrow.arrow-operation
                .elemento
                .elemento
                .elemento
                    .arrow.arrow-operation
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                    .arrow.arrow-in
                    .value-in
            .vector.vector-2
                .elemento
                    .arrow.arrow-out
                        .xor
                            .arrow.arrow-operation.arrow-result
                                section.result Resultado generado
                    .arrow.arrow-operation
                        .xor
                .elemento
                    .arrow.arrow-operation
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                    .arrow.arrow-in
                    .value-in
            .vector.vector-3
                .elemento
                    .arrow.arrow-out
                    .arrow.arrow-operation
                        .xor
                .elemento
                    .arrow.arrow-operation
                .elemento
                    .arrow.arrow-operation
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                    .arrow.arrow-operation
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                .elemento
                    .arrow.arrow-in
                    .value-in
